.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  font-family: inherit;
  font-size: larger;
  border: none;
  padding: 10px;
  border-radius: 50px;
  outline: none;
}

button {
  font-family: inherit;
  font-weight: 500;
  padding: 10px 25px;
  font-size: larger;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 50px;
}

p {
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
}

.chatContainer {
  overflow-y: scroll;
  width: 75%;
  height: 425px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  background-color: teal;
  width: 150px;
  border-radius: 10px;
  margin: 10px auto;
}

.chatWrapper > span {
  font-size: smaller;
  font-weight: 500;
  color: aqua;
  margin: 5px 10px;
  text-align: left;
}

footer {
  margin: 10px auto;
}
